extends layout

block content
  #main
    #controls
      #steering
        #left.btn-big.btn-big-left Left
        #right.btn-big.btn-big-right Right
      #power
        #reverse.btn-big.btn-big-reverse Reverse
        #forward.btn-big.btn-big-forward Forward

block page_scripts
  script(src='/javascripts/controls.js')

